{%extends "layout.html"%}

{%block content%}
    <html>
        <head>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css')  }}">
        </head>
        <body>
            <div class="content">
                {%if login_status%}
                    <h1>Hello, {{login_name}}!</h1>
                {%else%}
                    <h1>Hello User!</h1>
                {%endif%}
                <br>
                <h4>Introductions</h4>
                <p1>
                    Welcome to Stock Analysis. The goal of this program is to provide users interested in investing in the stock market with a one stop place to look at the stocks as well as view the overall sentiment users from some social media platforms have towards that stock.
                </p1>
                <br><br>
                <h4>Improvements</h4>
                <p1>
                    This program is still at an early version so it still has a lot of things to be improved upon. If you have any suggestions, feel free to post it through github.
                    Thank you for your time!
                </p1>
        </body>
    </html>
    
{%endblock content%}